.ap__whatap {
    display: flex;
    flex-direction: column;
    border-radius: 0px 50px 0px 50px;
    padding: 2rem;
    background: var(--color-footer);
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ap__whatap-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.ap__whatap-feature .ap__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.ap__whatap-feature .ap__features-container_feature-text {
    max-width: 700px;
}

.ap__whatap-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 2rem 0 2rem;
}

.ap__whatap-heading h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    font-family: "Times New Roman", Times, serif;
    max-width: 510px;
    margin-left: 4vh;
    margin-right: 12vh;
}

.ap__whatap-heading p {
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
    /* margin-top: -10vh; */
}

.ap__whatap-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.ap__whatap-container .ap__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.ap__whatap-container .ap__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .ap__whatap-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .ap__whatap-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .ap__whatap-feature .ap__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .ap__whatap-feature .ap__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .ap__whatap-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .ap__whatap-container .ap__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}